.Listing {
  background: var(--clr-Background);
  position: relative;
  box-shadow: 0px 10px 30px -20px var(--clr-primary);
  max-width: 1110px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 15px 25px;
  padding-bottom: 25px;
}

.Listing.featured::before {
  display: block;
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Listing-image {
  width: 48px;
  margin-top: -50px;
}

.Listing-company {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 5px;
}

.Listing-title {
  color: var(--clr-2);
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: color 100ms;
}

.Listing-title:hover {
  color: var(--clr-primary);
}

.Listing-info {
  color: var(--clr-1);
  margin: 1rem 0;
  font-size: 0.85rem;
}

.Listing-info > * {
  margin: 8px;
}

.Listing-info > *:first-child {
  margin-left: 0;
}

.Label {
  padding: 4px 10px;
  padding-top: 8px;
  border-radius: 50px;
  background-color: var(--clr-2);
  color: #fff;
  margin-left: 10px;
  font-size: .7rem;
  text-transform: uppercase;
}

.Label.new {
  background: var(--clr-primary);
}

.Label.featured {
  background: var(--clr-2);
}

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--clr-1);
  margin-top: 20px;
}

.Tags > * {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 0.85rem;
  padding: 6px;
  padding-top: 8px;
  margin-left: 3px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: color 100ms, background-color 100ms;
}

.Tags > *:hover {
  background: var(--clr-primary);
  color: white;
}


.Filter {
  display: flex;
  background: var(--clr-Filter-Tablets);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 7px 15px -10px var(--clr-primary);
  margin: auto;
  margin-bottom: 3.5rem;
  max-width: 1110px;
}

.Filter-labels {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 5px;
  padding-left: 12px;
}

.Filter-label {
  width: max-content;
  box-shadow: 0 5px 15px -10px var(--clr-primary);
  font-size: 0.9rem;
  color: var(--clr-primary);
  font-weight: bold;
}

.Filter-label::after {
  content: 'x';
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: white;
  background: var(--clr-primary);
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 8px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background-color 100ms;
}

.Filter-label:hover::after {
  background: var(--clr-2);
}

.Filter-button {
  width: 70px;
  border: none;
  background: transparent;
  color: var(--clr-1);
  font-weight: bold;
  font-family: var(--font-family);
  padding: 5px;
  transition: color 100ms;
}

.Filter-button:hover {
  color: var(--clr-primary);
}

.Filter-button:hover {
  text-decoration: underline;
}

.Filter-spacer {
  margin-bottom: 6rem;
}

@media (min-width: 1000px) {
  .Listing {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    margin: 27px auto;
  }
  
  .Listing-image {
    width: auto;
    margin: 0;
    margin-right: 1.5rem;
  }
  
  .Listing .container {
    flex: 1;
  }

  .Listing-company {
    font-size: 1rem;
  }

  .Listing-title {
    font-size: 1.2rem;
  }

  .Listing-info {
    font-size: 1rem;
    margin: 12px 0;
    margin-bottom: 0;
  }

  .Listing-info > * {
    margin: 15px;
  }

  .Tags {
    margin-top: 0;
  }

  .Tags > * {
    margin: 0;
    margin-left: 22px;
    font-size: 0.85rem;
  }
  
  .Tags {
    border: 0;
  }

  .Filter-spacer {
    margin-bottom: 6.5rem;
  }

  .Filter {
    padding: 20px 25px;
    margin-bottom: 3rem;
  }

  .Filter-labels {
    gap: 20px;
    padding: 0px;
    margin-left: 23px;
  }
}