.Listing {
  background: var(--clr-Background);
  padding: 20px 25px;
  position: relative;
  box-shadow: 0px 10px 30px -20px var(--clr-primary);
  max-width: 600px;
  margin: 40px auto;
}

.Listing.featured::before {
  display: block;
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-primary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Listing-image {
  width: 50px;
  margin-top: -61px;
}

.Listing-company {
  color: var(--clr-primary);
  font-weight: bold;
  margin: 1rem 0;
}

.Listing-title {
  color: var(--clr-2);
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: color 100ms;
}

.Listing-title:hover {
  color: var(--clr-primary);
}

.Listing-info {
  color: var(--clr-1);
  margin-bottom: 1rem;
}

.Listing-info > *{
  margin: 5px;
}

.Listing-info > *:first-child {
  margin-left: 0;
}

.Label {
  padding: 4px 10px;
  padding-top: 8px;
  border-radius: 50px;
  background-color: var(--clr-2);
  color: #fff;
  margin-left: 10px;
  font-size: .75rem;
  text-transform: uppercase;
}

.Label.new {
  background: var(--clr-primary);
}

.Label.featured {
  background: var(--clr-2);
}

.Tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--clr-1);
}

.Tags > * {
  color: var(--clr-primary);
  font-weight: bold;
  padding: 5px;
  padding-top: 7px;
  margin: 0 5px;
  margin-top: 10px;
  border-radius: 5px;
  transition: color 100ms, background-color 100ms;
}

.Tags > *:hover {
  background: var(--clr-primary);
  color: white;
}

.Filter {
  display: flex;
  background: var(--clr-Filter-Tablets);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 7px 15px -10px var(--clr-primary);
  margin-bottom: 3rem;
}

.Filter-labels {
  list-style: none;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.Filter-label {
  width: max-content;
  box-shadow: 0 5px 15px -10px var(--clr-primary);
}

.Filter-label::after {
  content: 'x';
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
  background: var(--clr-primary);
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-left: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background-color 100ms;
}

.Filter-label:hover::after {
  background: var(--clr-2);
}

.Filter-button {
  width: 70px;
  border: none;
  background: transparent;
  color: var(--clr-1);
  font-weight: bold;
  font-family: var(--font-family);
  padding: 5px;
  transition: color 100ms;
}

.Filter-button:hover {
  color: var(--clr-primary);
}

.Filter-button:hover {
  text-decoration: underline;
}

.Filter-spacer {
  margin-bottom: 6rem;
}